body{
    margin : 0px;
    padding : 0px;
    background-color: rgb(2, 155, 2);
}

body > .buttons{
    display : flex;
    justify-content: space-evenly;
}

.head{
    text-align: center;
    font-family:"Oswald";
}

.paper, .rock, .scissors{
    cursor: pointer;
    margin : 0px;
    padding : 0px;
    clip-path: circle(92px);
}

.content {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

.choice{
    display: flex;
    justify-content: space-around;
}

.score{
    display : flex;
    justify-content: space-around;
}


.footer {
    text-align: center;
    font-family: "Roboto";
}
