body{
    margin : 0px;
    padding : 0px;
    background-color: rgb(2, 155, 2);
}

body > .buttons{
    display : flex;
    justify-content: space-evenly;
}

.head{
    text-align: center;
    font-family:"Oswald";
}

.paper, .rock, .scissors{
    cursor: pointer;
    margin : 0px;
    padding : 0px;
    clip-path: circle(92px);
}

.content {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

.choice{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.score{
    display : flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.feedback {
    display : flex;
    justify-content: center;
}

.reset{
    display : flex;
    justify-content: center;
}

.resetButton {
    background-color: #fff;
    border-radius: 8px;
    border-width: 0px;
    font-size: 32px;
    font-family: "Oswald";
    color : #000000;
    cursor: pointer;
}
.footer {
    font-family: "Roboto";
    position : fixed;
    bottom : 0;
    left : 43%;
    right : 42%;
}
